
button{
    border-radius: 2px;
    cursor: pointer;
  }
nav {
  /* border: 10px solid red; */
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}
.nav-logo {
  width: 90px;
  height: 102.75px;
  mix-blend-mode: multiply;
  flex-shrink: 0;
  background-color: #fff;
}

ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

ul a{
  text-decoration: none;
  color: #5A5959;
}

.btn {
  height: 36px;
  width: 75px;
  background-color: #d01c28;
  color: #fff;
}